body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  font-size: 5.625rem;
  color: white;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
}

h4 {
  font-size: 2rem;
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-weight: bolder;
}

h2 {
  color: #70af85;
  padding-bottom: 10px;
}

h3, a {
  color: #8db596;
}

p {
  color: #40514E;
  line-height: 2;

}

hr {
  border-style: none;
  border-top: dotted;
  border-color: #8db596;
  border-width: 5px;
  opacity: 0.5;
  width: 5%;
  margin: 100px auto;
}

a {
  color: #d4e2d4;
  font-family: 'Montserrat', sans-serif;
  margin: 20px 20px;
  text-decoration: none;
  font-size: 1.3rem;
}

a:hover {
  color: white;
  font-weight: bold;
}

.top-container {
  background-color: #70af85;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  margin: 100px 0;

}

.intro {
  width: 30%;
  margin: auto;
}

.bottom-container {

  background-color: #70af85;

  padding: 70px 0 20px;
}

.top-cloud {
  position: absolute;
  top: 50px;
  right: 350px;
}

.bottom-cloud {
  position: absolute;
  left: 350px;
  bottom: 300px;
}

.skill-row {
  width: 50%;
  margin: 100px auto;
  text-align: left;
  line-height: 2;
}

.profile-picture {
  width: 15%;
  margin: 50px 0;
}

.image-1 {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.image {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.contact-message {
  width: 40%;
  margin: 40px auto 60px;
}

.btn {
  -webkit-border-radius: 4;
  -moz-border-radius: 4;
  border-radius: 4px;
  text-shadow: 0 1px 24px #c9b1c9;
  -webkit-box-shadow: 0 1px 11px #28805d;
  -moz-box-shadow: 0 1px 11px #28805d;
  box-shadow: 0 1px 11px #28805d;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 32px;
  background: #70af85;
  padding: 12px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #bedbbb;
  text-decoration: none;
}

.copyright {
  font-size: 0.75rem;
  padding: 20px 0;
}
